
body {
    margin: 0 20px;
}

h1 {
    
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid gray;
    margin: 0;
    padding: 45px;
        
}

.grid   {
    display: grid;
    grid-template-columns: 150px 1fr;
    
}

.grid ol {
    border-right: 1px solid gray;
    width: 100px;
    padding: 20px  ;
    margin: 0 ;
}

a {
    color: black;
    text-decoration: none;
    
}

#article  {
    padding-left: 20px;
    
}


@media screen and (max-width: 768px) {
    .grid   {
        display: block;
        
        text-align: center;
        
        
    
    }
    .grid ol {
        border-right: none;
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding: 10px 0;
        border-bottom: 1px solid gray;

    }

    #article {
        padding-left: 0;
    }
}